/* src/Login.css */
.login-container {
    width: 500px;
    margin: 100px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.inputfld {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.login-container .register-link-container {
    text-align: center;  /* Center the text */
    margin-top: 20px;    /* Add some margin to the top for spacing */
  }
  
  .login-container .register-link-container p {
    font-size: 14px;     /* Adjust the text size */
    color: #555;         /* Change the text color */
  }
  
  .login-container .register-link-container a {
    color: #1890ff;      /* Customize the link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold;   /* Make the link bold */
  }
  
  .login-container .register-link-container a:hover {
    text-decoration: underline;  /* Underline on hover */
  }